name: Build APK with Pygame

on:
  push:
    branches:
      - main

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Build APK
        run: python main.py
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: T-Engine APK
          path: T-Engine.apk
  build-windows:
    runs-on: ubuntu-lastest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install -r requiriments.txt
      - name: Build EXE
        run: python main.py
      - name: Upload EXE
        uses: actions/upload-artifact@v3
        with:
          name: T-Engine EXE
          path: T-Engine.exe
